<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="cont" method="get" object="admin"></form>-->
<!--<tr>-->
<!--  <th>Admin Id=[[${adminId}]]</th>-->
<!--  <th>Admin Name=[[${adminName}]]</th>-->
<!--  <th>Admin Contact=[[${adminContact}]]</th>-->
<!--  <th>Admin Role=[[${adminRole}]]</th>-->
<!--  &lt;!&ndash;        <th>Mobile</th>&ndash;&gt;-->
<!--  &lt;!&ndash;        <th>Delete</th>&ndash;&gt;-->
<!--  &lt;!&ndash;        <th>Update</th>&ndash;&gt;-->
<!--</tr>-->
<!--</body>-->
<!--</html>-->