<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Tabbed IFrames</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

  <link rel="stylesheet" th:href="@{/overlayScrollbars/css/OverlayScrollbars.min.css}">
  <link rel="stylesheet"  th:href="@{/css/fontawesome-free/css/all.min.css}" >

  <link rel="stylesheet" th:href="@{/dist/css/adminlte.min.css}">
</head>
<body class="hold-transition sidebar-mini layout-fixed" data-panel-auto-height-mode="height" onload=display_ct();>
<div class="wrapper">
